# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/Deploy.sol/5/*
!/broadcast/Deploy.sol/5/run-1663589791.json

# JS dependencies
node_modules/

# Local env variables
.env