# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/Deploy.sol/*
!/broadcast/Deploy.sol/*/deployment*.json

# JS dependencies
node_modules/

# Local env variables
.env
